:root {
  --primary: hsl(243, 87%, 12%);
  --primary2: hsl(238, 22%, 44%);
  --accent: hsl(224, 93%, 58%);
  --accent2: hsl(170, 45%, 43%);
  --neutral: hsl(240, 75%, 98%);
  --neutral2: hsl(0, 0%, 75%);
  --font: "Raleway", sans-serif;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  color: var(--primary2);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.bg {
  background: url("/images/bg-curve-desktop.svg") no-repeat center center/cover;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 5px;
  margin: 0 5px 30px;
}
.nav-bar a {
  text-decoration: none;
  letter-spacing: 1px;
  margin-right: 35px;
  font-family: var(--font);
  font-size: 20px;
  color: var(--primary);
}

.content {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 20px 5px;
  margin: 50px 15px;
}
.content h1,
h2,
h4 {
  font-family: var(--font);
  color: var(--primary);
  font-weight: 700;
}
.form input {
  font-family: var(--font);
  color: var(--neutral2);
  font-size: 15px;
  width: 50%;
  height: 35px;
}
.form button {
  font-family: var(--font);
  font-size: 15px;
  background-color: var(--accent);
  border: 1px solid var(--accent);
  width: 40%;
  cursor: pointer;
  height: 35px;
  color: var(--neutral);
  border-radius: 3px;
}
.content img {
  width: 100%; 
}
.content a {
  font-family: var(--font);
  color: var(--accent2);
  font-size: 20px;
  text-decoration: none;
  border-bottom: solid 1px;
  text-align: center;
  padding-bottom: 10px;
}
.content a img {
  width: 30px;
  padding: 0;
  position: absolute;
}

.sub-content {
  display: grid;
  grid-template-rows: 40% 1fr;
}
.sub-content img {
  width: 20px;
}

.card-contain {
  margin-top: 55px;
  padding: 25px;
  padding-bottom: 0;
  border-radius: 5px;
  box-shadow: 1px 1px 15px var(--neutral2);
  align-items: center;
}
.card-contain p {
  margin: 0;
}
.content .sub-content .card-contain .card {
  margin-top: 15px;
  width: 50px;
  border-radius: 50%;
}
.card-contain h4 {
  margin: 10px;
  position: absolute;
  display: inline-block;
  padding-top: 15px;
}

.contact {
  background: var(--primary2);
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: var(--font);
  color: var(--neutral);
  padding: 50px;
}
.cont {
  padding-right: 40px;
}
.contact .form {
  margin: auto 10px;
}
.contact input,
.contact button {
  display: block;
  margin: 10px 0;
}

.footer {
  background: var(--primary);
  color: var(--neutral);
  display: grid;
  grid-template-rows: 2fr 3fr;
}
.logo {
  padding: 100px 50px 0px;
}
.white {
  filter: brightness(0) invert(0.9);
}

.f-contact {
  padding: 0 50px 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.f-contact ul,
.f-contact li {
  list-style: none;
  padding-inline-start: 0;
  padding-bottom: 10px;
}
.c-list,
.social {
  padding-left: 30px;
}
.social {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: 20px;
}
.social i {
  color: var(--neutral);
  font-size: 22px;
}
@media screen and (min-width: 1024px){
  .nav-bar{
margin: 0 auto;
  }
  
.wrapper{
  max-width: 1400px;
  margin: 0 auto;
}
}
@media screen and (max-width: 768px) {
  .content{
    grid-template-columns: 1fr;
  }

  .form input{
    box-sizing: border-box;
    display: block;
    width: 100%;
  }
  .form button{
    width: 100%;
    margin: 10px 0;
  }

  .sub-content{
    row-gap: 20px;
  }
  .card-contain{
    margin: 80px 10px 0;
  }
  .contact{
    grid-template-columns: 1fr;
  }
  .cont{
    padding: 0;
  }

}

@media screen and (max-width: 580px){
  .nav-bar div a{
    letter-spacing: 0;
    margin: 0 10px;
    font-size: 16px;
  }
  .card-contain h4{
    font-size: 12px;
  }


  .footer{
    grid-template-columns: 1fr;

  }
  .f-contact{
    padding: 0 50px;
    margin: -100px 0 0;
    grid-template-columns: 1fr;
  }
  .c-list,.social{
    padding: 0;
  }
  .social{
    width: 100%;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 40px;
  }
  .social div{
    margin: 0 auto;
  }

  .footer .logo{
    padding: 0 50px;
    margin: 60px 0 0;
  }
}